<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="cedula" class="col-form-label col-sm-2">Cedula</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.cedula" name="cedula" #cedula="ngModel" type="text" (keypress)="numberOnly($event)" ng-maxlength="2" maxLength="10" required> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
            <div *ngIf="cedula.errors.required">
              Cédula es requerido
            </div>
            <div *ngIf="cedula.errors.minlength">
              Nombre debe tener al menos 10 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombres</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombres" name="nombres" #nombres="ngModel" required> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
            <div *ngIf="nombres.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombres.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellidos" name="apellidos" #apellido="ngModel" required> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="edad" class="col-form-label col-sm-2">Edad</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.edad" name="edad" #edad="ngModel" type="number" required> <!-- required -->
          <div class="alert alert-danger" *ngIf="edad.invalid && (edad.dirty || edad.touched)">
            <div *ngIf="edad.errors.required">
              Edad es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" *ngIf="!cliente._id">
        <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.fechaNacimiento" [ngModel] ="cliente.fechaNacimiento | date:'yyyy-MM-dd'" (ngModelChange)="cliente.fechaNacimiento = $event"
          name="fechaNacimiento" #fechaNacimiento="ngModel" type="date" required> <!-- required -->
          <div class="alert alert-danger" *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)">
            <div *ngIf="fechaNacimiento.errors.required">
              Fecha de Nacimiento es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente._id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>

  </div>
</div>
